params {
    publish_dir_mode           = "copy"
    tracedir                   = "${params.outdir}/pipeline_info"
    id                         = null
    vcf                        = null
    vep_cache                  = null
    vep_genome                 = "GRCh38"
    vep_species                = "homo_sapiens"
    vep_cache_version          = "110"
    vep_include_fasta          = false
    vep_out_format             = 'vcf'
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    docker {
        docker.enabled         = true
    }
}
process {
    withName: '.*' { conda = null }

    withName: 'ENSEMBLVEP' {
        ext.args          = { [
                        ' --compress_output gzip --offline --format vcf ',
                        (params.vep_out_format) ? "--${params.vep_out_format}" : '--vcf'
                    ].join(' ').trim() }
        publishDir       = [
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/reports/EnsemblVEP/${meta.id}/" },
                    pattern: "*html"
                ],
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/annotation/${meta.id}/" },
                    pattern: "*{json,tab}"
                ],
                [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/annotation/${meta.id}/" },
                    pattern: "*{gz,gz.tbi,vcf}"
                ]
            ]
    }
}

includeConfig 'conf/omics.config'