params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?KRAKEN2_STANDARD_REPORT' { container = 'dockerhub/ubuntu:20.04' }
withName: '(.+:)?KRONA_CLEANUP' { container = 'dockerhub/ubuntu:20.04' }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'quay/biocontainers/python:3.8.3' }
withName: '(.+:)?DIAMOND_BLASTX' { container = 'quay/biocontainers/diamond:2.0.15--hb97b32f_0' }
withName: '(.+:)?CAT_FASTQ' { container = 'dockerhub/ubuntu:20.04' }
withName: '(.+:)?KRONA_KTIMPORTTEXT' { container = 'quay/biocontainers/krona:2.8.1--pl5321hdfd78af_1' }
withName: '(.+:)?KRONA_KTIMPORTTAXONOMY' { container = 'quay/biocontainers/krona:2.8--pl5262hdfd78af_2' }
withName: '(.+:)?METAPHLAN3_METAPHLAN3' { container = 'quay/biocontainers/metaphlan:3.0.12--pyhb7b1952_0' }
withName: '(.+:)?METAPHLAN3_MERGEMETAPHLANTABLES' { container = 'quay/biocontainers/metaphlan:3.0.12--pyhb7b1952_0' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.14--pyhdfd78af_0' }
withName: '(.+:)?BOWTIE2_ALIGN' { container = 'quay/biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0' }
withName: '(.+:)?BOWTIE2_BUILD' { container = 'quay/biocontainers/bowtie2:2.4.4--py39hbb4e92a_0' }
withName: '(.+:)?UNTAR' { container = 'dockerhub/ubuntu:20.04' }
withName: '(.+:)?CENTRIFUGE_CENTRIFUGE' { container = 'quay/biocontainers/centrifuge:1.0.4_beta--h9a82719_6' }
withName: '(.+:)?CENTRIFUGE_KREPORT' { container = 'quay/biocontainers/centrifuge:1.0.4_beta--h9a82719_6' }
withName: '(.+:)?MALT_RUN' { container = 'quay/biocontainers/malt:0.61--hdfd78af_0' }
withName: '(.+:)?MEGAN_RMA2INFO' { container = 'quay/biocontainers/megan:6.21.7--h9ee0642_0' }
withName: '(.+:)?MOTUS_MERGE' { container = 'quay/biocontainers/motus:3.0.3--pyhdfd78af_0' }
withName: '(.+:)?MOTUS_PROFILE' { container = 'quay/biocontainers/motus:3.0.3--pyhdfd78af_0' }
withName: '(.+:)?PRINSEQPLUSPLUS' { container = 'quay/biocontainers/prinseq-plus-plus:1.2.3--hc90279e_1' }
withName: '(.+:)?MINIMAP2_ALIGN' { container = 'quay/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0' }
withName: '(.+:)?MINIMAP2_INDEX' { container = 'quay/biocontainers/minimap2:2.24--h7132678_1' }
withName: '(.+:)?TAXPASTA_MERGE' { container = 'quay/biocontainers/taxpasta:0.2.3--pyhdfd78af_0' }
withName: '(.+:)?KAIJU_KAIJU2TABLE' { container = 'quay/biocontainers/kaiju:1.8.2--h2e03b76_0' }
withName: '(.+:)?KAIJU_KAIJU' { container = 'quay/biocontainers/kaiju:1.8.2--h5b5514e_1' }
withName: '(.+:)?KAIJU_KAIJU2KRONA' { container = 'quay/biocontainers/kaiju:1.8.2--h5b5514e_1' }
withName: '(.+:)?FILTLONG' { container = 'quay/biocontainers/filtlong:0.2.1--h9a82719_0' }
withName: '(.+:)?KRAKENTOOLS_COMBINEKREPORTS' { container = 'quay/biocontainers/krakentools:1.2--pyh5e36f6f_0' }
withName: '(.+:)?KRAKENTOOLS_KREPORT2KRONA' { container = 'quay/biocontainers/krakentools:1.2--pyh5e36f6f_0' }
withName: '(.+:)?FALCO' { container = 'quay/biocontainers/falco:1.2.1--h867801b_3' }
withName: '(.+:)?PORECHOP_PORECHOP' { container = 'quay/biocontainers/porechop:0.2.4--py39h7cff6ad_2' }
withName: '(.+:)?KRAKEN2_KRAKEN2' { container = 'quay/biocontainers/mulled-v2-5799ab18b5fc681e75923b2450abaa969907ec98:87fc08d11968d081f3e8a37131c1f1f6715b6542-0' }
withName: '(.+:)?BBMAP_BBDUK' { container = 'quay/biocontainers/bbmap:39.01--h5c4e2a8_0' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.11.9--0' }
withName: '(.+:)?BRACKEN_COMBINEBRACKENOUTPUTS' { container = 'quay/biocontainers/bracken:2.7--py39hc16433a_0' }
withName: '(.+:)?BRACKEN_BRACKEN' { container = 'quay/biocontainers/bracken:2.7--py39hc16433a_0' }
withName: '(.+:)?SAMTOOLS_BAM2FQ' { container = 'quay/biocontainers/samtools:1.16.1--h6899075_1' }
withName: '(.+:)?SAMTOOLS_VIEW' { container = 'quay/biocontainers/samtools:1.16.1--h6899075_1' }
withName: '(.+:)?SAMTOOLS_INDEX' { container = 'quay/biocontainers/samtools:1.16.1--h6899075_1' }
withName: '(.+:)?SAMTOOLS_STATS' { container = 'quay/biocontainers/samtools:1.16.1--h6899075_1' }
withName: '(.+:)?ADAPTERREMOVAL' { container = 'quay/biocontainers/adapterremoval:2.3.2--hb7ba0dd_0' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0' }
withName: '(.+:)?FASTP' { container = 'quay/biocontainers/fastp:0.23.2--h79da9fb_0' }
withName: '(.+:)?KRAKENUNIQ_PRELOADEDKRAKENUNIQ' { container = 'quay/biocontainers/krakenuniq:1.0.2--pl5321h19e8d03_0' }
withName: '(.+:)?GUNZIP' { container = 'dockerhub/ubuntu:20.04' }
}
