params {
    ecr_registry = ''
    aws_region = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?GENE_MAP' { container = "${ ([params.ecr_registry, 'quay/biocontainers/python:3.8.3'] - '').join('/') }" }
withName: '(.+:)?STAR_ALIGN' { container = "${ ([params.ecr_registry, 'quay/biocontainers/star:2.7.10a--h9ee0642_0'] - '').join('/') }" }
withName: '(.+:)?ALEVINQC' { container = "${ ([params.ecr_registry, 'quay/biocontainers/bioconductor-alevinqc:1.12.1--r41h9f5acd7_0'] - '').join('/') }" }
withName: '(.+:)?MTX_TO_H5AD' { container = "${ ([params.ecr_registry, 'quay/biocontainers/scanpy:1.7.2--pyhdfd78af_0'] - '').join('/') }" }
withName: '(.+:)?SIMPLEAF_QUANT' { container = "${ ([params.ecr_registry, 'quay/biocontainers/simpleaf:0.5.2--h9f5acd7_0'] - '').join('/') }" }
withName: '(.+:)?GTF_GENE_FILTER' { container = "${ ([params.ecr_registry, 'quay/biocontainers/python:3.9--1'] - '').join('/') }" }
withName: '(.+:)?MTX_TO_SEURAT' { container = "${ ([params.ecr_registry, 'satijalab/seurat:4.1.0'] - '').join('/') }" }
withName: '(.+:)?SIMPLEAF_INDEX' { container = "${ ([params.ecr_registry, 'quay/biocontainers/simpleaf:0.5.2--h9f5acd7_0'] - '').join('/') }" }
withName: '(.+:)?CONCAT_H5AD' { container = "${ ([params.ecr_registry, 'quay/biocontainers/scanpy:1.7.2--pyhdfd78af_0'] - '').join('/') }" }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = "${ ([params.ecr_registry, 'quay/biocontainers/python:3.8.3'] - '').join('/') }" }
withName: '(.+:)?GFFREAD_TRANSCRIPTOME' { container = "${ ([params.ecr_registry, 'quay/biocontainers/gffread:0.12.7--hd03093a_1'] - '').join('/') }" }
withName: '(.+:)?MULTIQC' { container = "${ ([params.ecr_registry, 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0'] - '').join('/') }" }
withName: '(.+:)?CELLRANGER_MKREF' { container = "${ ([params.ecr_registry, 'nfcore/cellranger:7.0.0'] - '').join('/') }" }
withName: '(.+:)?CELLRANGER_MKGTF' { container = "${ ([params.ecr_registry, 'nfcore/cellranger:7.0.0'] - '').join('/') }" }
withName: '(.+:)?CELLRANGER_COUNT' { container = "${ ([params.ecr_registry, 'nfcore/cellranger:7.0.0'] - '').join('/') }" }
withName: '(.+:)?STAR_GENOMEGENERATE' { container = "${ ([params.ecr_registry, 'quay/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:afaaa4c6f5b308b4b6aa2dd8e99e1466b2a6b0cd-0'] - '').join('/') }" }
withName: '(.+:)?FASTQC' { container = "${ ([params.ecr_registry, 'quay/biocontainers/fastqc:0.11.9--0'] - '').join('/') }" }
withName: '(.+:)?KALLISTOBUSTOOLS_REF' { container = "${ ([params.ecr_registry, 'quay/biocontainers/kb-python:0.27.2--pyhdfd78af_0'] - '').join('/') }" }
withName: '(.+:)?KALLISTOBUSTOOLS_COUNT' { container = "${ ([params.ecr_registry, 'quay/biocontainers/kb-python:0.27.2--pyhdfd78af_0'] - '').join('/') }" }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = "${ ([params.ecr_registry, 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0'] - '').join('/') }" }
withName: '(.+:)?GFFREAD' { container = "${ ([params.ecr_registry, 'quay/biocontainers/gffread:0.12.1--h8b12597_0'] - '').join('/') }" }
withName: '(.+:)?GUNZIP' { container = "${ ([params.ecr_registry, 'dockerhub/ubuntu:20.04'] - '').join('/') }" }
}
