params {
    ecr_registry = '017099195687.dkr.ecr.us-west-2.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?COLABFOLD_BATCH' { container = 'quay/nf-core/proteinfold_colabfold:1.1.0' }
withName: '(.+:)?COMBINE_UNIPROT' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?MMSEQS_COLABFOLDSEARCH' { container = 'quay/nf-core/proteinfold_colabfold:1.1.0' }
withName: '(.+:)?MULTIFASTA_TO_CSV' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?MULTIFASTA_TO_SINGLEFASTA' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?RUN_ESMFOLD' { container = 'quay/nf-core/proteinfold_esmfold:1.1.0' }
withName: '(.+:)?ARIA2' { container = 'quay/biocontainers/aria2:1.36.0' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.19--pyhdfd78af_0' }
withName: '(.+:)?GUNZIP' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?MMSEQS_CREATEINDEX' { container = 'quay/biocontainers/mmseqs2:14.7e284--pl5321hf1761c0_0' }
withName: '(.+:)?MMSEQS_TSV2EXPROFILEDB' { container = 'quay/biocontainers/mmseqs2:14.7e284--pl5321hf1761c0_0' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.19--pyhdfd78af_0' }
withName: '(.+:)?UNTAR' { container = 'quay/nf-core/ubuntu:20.04' }
withName: '(.+:)?DOWNLOAD_PDBMMCIF' { container = 'quay/biocontainers/mulled-v2-4a7c46784ad871c48746744c6b8dbc5d0a97b9ca:33e61a87922824f8afcecf88a7717a2d4cb514e9-0' }
withName: '(.+:)?RUN_ALPHAFOLD2' { container = 'quay/nf-core/proteinfold_alphafold2_standard:dev' }
withName: '(.+:)?RUN_ALPHAFOLD2_MSA' { container = 'quay/nf-core/proteinfold_alphafold2_msa:1.1.0' }
withName: '(.+:)?RUN_ALPHAFOLD2_PRED' { container = 'quay/nf-core/proteinfold_alphafold2_split:1.1.0' }
}
