/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_full_colabfold_local,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile for colabfold using colabfold server'
    config_profile_description = 'Minimal test dataset to check pipeline function'


    // Input data to test colabfold with a local server analysis
    mode                    = 'colabfold'
    colabfold_server        = 'local'
    colabfold_model_preset  = 'alphafold2_ptm'
    input                   = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteinfold/testdata/samplesheet/v1.0/samplesheet.csv'
    colabfold_db            = 's3://proteinfold-dataset/test-data/db/colabfold_mini'
}
process {
    withName:MMSEQS_COLABFOLDSEARCH {
        memory = 16.GB
    }
}
