params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?GENE_MAP' { container = 'quay/biocontainers/python:3.8.3' }
withName: '(.+:)?STAR_ALIGN' { container = 'quay/biocontainers/star:2.7.10b--h9ee0642_0' }
withName: '(.+:)?ALEVINQC' { container = 'quay/biocontainers/bioconductor-alevinqc:1.12.1--r41h9f5acd7_0' }
withName: '(.+:)?MTX_TO_H5AD' { container = 'quay/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
withName: '(.+:)?SIMPLEAF_QUANT' { container = 'quay/biocontainers/simpleaf:0.10.0--h9f5acd7_1' }
withName: '(.+:)?GTF_GENE_FILTER' { container = 'quay/biocontainers/python:3.9--1' }
withName: '(.+:)?MTX_TO_SEURAT' { container = 'satijalab/seurat:4.3.0' }
withName: '(.+:)?SIMPLEAF_INDEX' { container = 'quay/biocontainers/simpleaf:0.10.0--h9f5acd7_1' }
withName: '(.+:)?CONCAT_H5AD' { container = 'quay/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'quay/biocontainers/python:3.8.3' }
withName: '(.+:)?GFFREAD_TRANSCRIPTOME' { container = 'quay/biocontainers/gffread:0.12.7--hd03093a_1' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.14--pyhdfd78af_0' }
withName: '(.+:)?CELLRANGER_MKREF' { container = 'nfcore/cellranger:7.1.0' }
withName: '(.+:)?CELLRANGER_MKGTF' { container = 'nfcore/cellranger:7.1.0' }
withName: '(.+:)?CELLRANGER_COUNT' { container = 'nfcore/cellranger:7.1.0' }
withName: '(.+:)?STAR_GENOMEGENERATE' { container = 'quay/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.11.9--0' }
withName: '(.+:)?UNIVERSC' { container = 'nfcore/universc:1.2.5.1' }
withName: '(.+:)?KALLISTOBUSTOOLS_REF' { container = 'quay/biocontainers/kb-python:0.27.2--pyhdfd78af_0' }
withName: '(.+:)?KALLISTOBUSTOOLS_COUNT' { container = 'quay/biocontainers/kb-python:0.27.2--pyhdfd78af_0' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0' }
withName: '(.+:)?GFFREAD' { container = 'quay/biocontainers/gffread:0.12.1--h8b12597_0' }
withName: '(.+:)?GUNZIP' { container = 'dockerhub/ubuntu:20.04' }
}
