params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}


process {
withName: '.*' { conda = null }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'quay/biocontainers/python:3.8.3' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.11.9--0' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0' }
}
